doctype html
html(lang="en")
	head
		title= pageTitle
		script(src="bower_components/angular/angular.min.js")
		script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="js/app.js")
		script(src="js/currency/currency.js")
		script(src="js/home/home.js")
		link(rel="stylesheet" href="partials/style.css")
	body(ng-app="testApp")
		div(ui-view)